<script type="module" crossorigin src="{{ 'bab--index.js' | asset_url | split: '?' | first }}?time=1651076450512"></script>
  <link rel="modulepreload" href="{{ 'bab--vendor.js' | asset_url | split: '?' | first }}?time=1651076450512">
  <link rel="stylesheet" href="{{ 'bab--index.css' | asset_url | split: '?' | first }}?time=1651076450512">
<div id="bab"></div>

