<style>.lds-ellipsis{display:inline-block;position:relative;width:103px;top:0;right:0;height:50px}.lds-ellipsis div{position:absolute;top:27px;width:11px;height:11px;border-radius:50%;background:#282828;animation-timing-function:cubic-bezier(0,1,1,0)}.lds-ellipsis div:nth-child(1){left:6px;animation:lds-ellipsis1 .6s infinite}.lds-ellipsis div:nth-child(2){left:6px;animation:lds-ellipsis2 .6s infinite}.lds-ellipsis div:nth-child(3){left:26px;animation:lds-ellipsis2 .6s infinite}.lds-ellipsis div:nth-child(4){left:45px;animation:lds-ellipsis3 .6s infinite}@keyframes lds-ellipsis1{0%{transform:scale(0)}100%{transform:scale(1)}}@keyframes lds-ellipsis3{0%{transform:scale(1)}100%{transform:scale(0)}}@keyframes lds-ellipsis2{0%{transform:translate(0,0)}100%{transform:translate(19px,0)}}
.cr-delivery-method{cursor: pointer;} .cr-delivery-method img{width: 50px;margin-top: 0;position: relative;top: 12px;}  .cr-delivery-method.selected{border-color: #b5b5b5;background-color: #f7f7f7;}  #pickup-container.v2{align-items:baseline!important;}  .cr-delivery-methods{width: 100%;text-align: center;margin: 0;padding: 0;display: flex;} .cr-delivery-method{border-radius: 5px;border: 1px solid #eee;background-color: #fff;list-style: none;display: inline-block;flex-grow: 1;flex-basis: 0;padding: 0;margin: 0 9px 0 0;} .cr-delivery-method-text{color: #282828;}
.cr-calendar-icon{position: absolute;top: 2px;right: 11px;cursor: pointer;}  .cr-calendar-icon svg{width: 20px;fill: #c1c1c1;}
</style>

<div id="pickup-container" class="v2 hide" style="display: none;flex-direction: column; margin-bottom: 1rem;margin-top: 1rem;">
    <div class="pickup-loading"></div>
    <div id="pickup-header"></div>
    <div class="cr-delivery-methods">
        <div class="cr-delivery-method cr-shipping-method selected">
            <img src="{{ 'cr-shipping-icon.png' | asset_url }}" class="pickup-icon">
            <p class="cr-delivery-method-text">Shipping</p>
        </div>
        <div class="js-toggle-pickup pickup-button cr-delivery-method">
            <img src="{{ 'cr-store-pickup-icon.png' | asset_url }}">
            <p class="cr-delivery-method-text">Pick up at the Warehouse in Whitby, Ontario. </p>
        </div>
    </div>

    <div class="delivery-method-desc">Please click the checkout button to continue.</div>

    <!-- Name of person picking up etc -->
    <div id="pickup-details" style="display:none;">
        <div class="js-stores-position-1"></div>

            <label id="pickup-date-label" for="pickup-date">Pickup Date</label>
            <div style="position:relative">
                <input type="text" class="datepicker" id="pickup-date-start" name="pickup-date-start" placeholder="Choose a date/time" readonly>
                <span class="cr-calendar-icon">
                    <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="36.447px" height="36.447px" viewBox="0 0 36.447 36.447" style="enable-background:new 0 0 36.447 36.447;" xml:space="preserve"><path d="M30.224,3.948h-1.098V2.75c0-1.517-1.197-2.75-2.67-2.75c-1.474,0-2.67,1.233-2.67,2.75v1.197h-2.74V2.75 c0-1.517-1.197-2.75-2.67-2.75c-1.473,0-2.67,1.233-2.67,2.75v1.197h-2.74V2.75c0-1.517-1.197-2.75-2.67-2.75 c-1.473,0-2.67,1.233-2.67,2.75v1.197H6.224c-2.343,0-4.25,1.907-4.25,4.25v24c0,2.343,1.907,4.25,4.25,4.25h24 c2.344,0,4.25-1.907,4.25-4.25v-24C34.474,5.855,32.567,3.948,30.224,3.948z M25.286,2.75c0-0.689,0.525-1.25,1.17-1.25 c0.646,0,1.17,0.561,1.17,1.25v4.896c0,0.689-0.524,1.25-1.17,1.25c-0.645,0-1.17-0.561-1.17-1.25V2.75z M17.206,2.75 c0-0.689,0.525-1.25,1.17-1.25s1.17,0.561,1.17,1.25v4.896c0,0.689-0.525,1.25-1.17,1.25s-1.17-0.561-1.17-1.25V2.75z M9.125,2.75 c0-0.689,0.525-1.25,1.17-1.25s1.17,0.561,1.17,1.25v4.896c0,0.689-0.525,1.25-1.17,1.25s-1.17-0.561-1.17-1.25V2.75z M31.974,32.198c0,0.965-0.785,1.75-1.75,1.75h-24c-0.965,0-1.75-0.785-1.75-1.75v-22h27.5V32.198z"/><rect x="6.724" y="14.626" width="4.595" height="4.089"/><rect x="12.857" y="14.626" width="4.596" height="4.089"/><rect x="18.995" y="14.626" width="4.595" height="4.089"/><rect x="25.128" y="14.626" width="4.596" height="4.089"/><rect x="6.724" y="20.084" width="4.595" height="4.086"/><rect x="12.857" y="20.084" width="4.596" height="4.086"/><rect x="18.995" y="20.084" width="4.595" height="4.086"/><rect x="25.128" y="20.084" width="4.596" height="4.086"/><rect x="6.724" y="25.54" width="4.595" height="4.086"/><rect x="12.857" y="25.54" width="4.596" height="4.086"/><rect x="18.995" y="25.54" width="4.595" height="4.086"/><rect x="25.128" y="25.54" width="4.596" height="4.086"/></svg>
                </span>
                <input type="text" id="pickup-time" style="display: none;">
            </div>
            <label id="pickup-date-start-error" class="valid" for="pickup-date-start" style="display: none;"></label>

            <label id="pickup-name-label"for="pickup-name">Name of person collecting</label>
            <!--<input style="margin-bottom: 0px;" type="text" id="pickup-name" name="pickup-name" placeholder="Your name">-->

            <input style="margin-bottom: 0;" type="hidden" id="pickup-name" name="pickup-name" placeholder="Your name">
            <div style="display: flex;">
                <div style="margin-right: 10px;">
                    <input style="margin-bottom: 0px;" type="text" id="pickup-first-name" name="pickup-first-name" placeholder="First name">
                </div>
                <div>
                    <input style="margin-bottom: 0px;" type="text" id="pickup-last-name" name="pickup-last-name" placeholder="Last name">
                </div>
            </div>

            <label id="pickup-number-label" for="pickup-number">Contact Number</label>
            <input type="text" id="pickup-number" name="pickup-number" placeholder="" >

            <label id="pickup-email-label" for="pickup-email">Your email address</label>
            <input type="text" id="pickup-email" name="pickup-email" placeholder="email address" />




        <div class="js-stores-position-2"></div>

        <div class="js-storepickup-message"></div>
        <input type="hidden" id="pickup-attribute" name="attributes[pickup]" value="">
        <input type="hidden" id="pickup-information" name="attributes[Pickup_Information]" value="">
        <input type="hidden" id="pickup-selected-store" name="attributes[Pickup_Store]" value="">

        <input type="hidden" id="pickup-selected-store-id" name="attributes[Pickup_StoreID]" value="">
        <input type="hidden" id="pickup-selected-date" name="attributes[_formattedDate]" value="">
        <input type="hidden" id="pickup-unixtimestamp" name="attributes[_unixTimestamp]" value="">


            <input type="hidden" id="note-pickup-date" name="attributes[Pickup_date]" value="">
            <input type="hidden" id="note-pickup-time" name="attributes[Pickup_time]" value="">

            <input type="hidden" id="note-pickup-name" name="attributes[Pickup_name]" value="">

            <input type="hidden" id="note-pickup-phone" name="attributes[Pickup_phone]" value="">



    </div>
</div>
