{% assign el = 'hamburger' %}
<a class="{{ el }} icon icon-hamburger toggle-menu" href="#">
  <!-- <span class="{{ el }}__sub"></span>
  <span class="{{ el }}__sub"></span>
  <span class="{{ el }}__sub"></span> -->
</a>
